body {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 14px;
  color: #1e1e1e;
}

h2,h3 {
  font-family: "Cinzel", sans-serif;
}

.rebrand-heading {
  position: relative;
  font-family: "Cinzel", sans-serif;
  font-size: 36px;
  margin-bottom: 1em;
}

.rebrand-heading:before {
  content: '';
  position: relative;
  top: -10px;
  width: 100px;
  height: 2px;
  background-color: #b23068;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/*** NAVBAR ***/
.navbar {
  min-height: 112px;
  border: none;
  border-radius: 0;
  margin-bottom: 0em;
}
@media (max-width: 991px) {
  .navbar {
    min-height: 66px;
  }
}
@media (max-width: 480px) {
  .navbar {
    border: none;
    border-radius: 0;
    margin-bottom: -.7em;
  }
}

.navbar .navbar-nav > li {
  background:url(../images/border-line.png) center right no-repeat;
}
@media (max-width: 768px){
  .navbar .navbar-nav > li {
    background: none;
  }
}

.navbar .navbar-nav li:last-child {
  background: none;
}

.navbar .navbar-nav > li > a {
  font-family: 'Poiret One', sans-serif;
  font-weight: bolder;
  font-size: 14px;
  color: #1b1b1b;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav > li > a {
    font-size: 13px;
  }
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li > a:focus {
  color: #b23068;
  background-color: transparent;
  transition: all .5s;
}

.navbar .navbar-header {
    position: relative;
}

.navbar .navbar-nav {
  margin-top: 0px;
  display: inline-block;
  float: none;
}

@media (min-width: 768px ) and (max-width: 991px) {
  .navbar .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar .navbar-brand {
  position: inherit;
  display: flex;
  height: auto;
  width: auto;
  padding: 0;
  float: none;
}
@media (max-width: 768px) {
  .navbar .navbar-brand {
    position: absolute;
    display: block;
  }
}

.navbar .navbar-brand > img {
  display: block;
  margin: auto;
  margin-top: 1em;
  height: 112px;
  width: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-brand > img {
    height: 66px;
    margin-top: 0em;
  }
}
@media (max-width: 480px) {
  .navbar .navbar-brand > img {
    height: 54px;
    width: auto;
    margin-top: 0em;
  }
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-lema {
  display: block;
  margin-top: 5.3em;
  margin-bottom: -.9em;
  height: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 0 2px 4px #333;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-lema {
    font-size: .7em;
  }
}

.navbar-mobile {
  background: #212121;
}

.navbar .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .navbar-toggle .fa {
    font-size: 30px;
  }
}
@media (max-width: 768px){
  .navbar-toggle {
    background-color: #a22d59;
    color: #fff;
  } 
}

@media (max-width: 768px) { /*** BREAKPOINT NAVBAR ***/
  .navbar-header {
    float: none;
  }
  
  .navbar-left,.navbar-right {
    float: none !important;
  }
    
  .navbar-toggle {
    display: block;
  }
  
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
    
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    width: 100%;
  }
   
  .navbar-collapse.collapse {
    display: none!important;
  }
    
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
    
    max-height: 80vh;
  }
  
  .navbar-nav>li {
    float: none;
  }
    
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
    
  .collapse.in{
    display:block !important;
  
  }
}

/*** HEADER ***/
.site-header-inicio {
  min-height: 70vh;
}

/*** HOME ***/
#about-us {
  background: linear-gradient(141deg, #6c4677 0%, #827795 51%, #5e4f74 75%);
  border-bottom: 5px solid #6ad06c;
  padding: 2em 0;
}

#about-us h1 {
  font-family: 'Satisfy', sans-serif;
  color: #fff;
}

#about-us p {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.2em;
  color: #fff;
}

#about-us small {
  font-size: 1em;
  color: #fff;
}

#about-us blockquote {
  border: none;
}

#about-us blockquote p.cita {
 font-family: 'Satisfy', sans-serif;
}

#about-us blockquote .small:before, 
blockquote footer:before, 
blockquote small:before {
  content: none;
}

#about-us .about-us #cita {
  margin-top: 6em;
}

#about-us .about-us #cita img {
  box-shadow: -8px -4px 13px 0px rgba(50, 50, 50, 0.75);
}
@media screen and (max-width: 768px) {
  #about-us .about-us #cita img { 
    margin: auto;
    display: block;
  }
}

#products {
  margin-top: 10em;
}

#products .products a.foto {
 color: #1b1b1b;
 text-decoration: none;
}

#products .products .caption p {
  margin-top: 3em;
  text-align: center;
  line-height: 1.5em;
  padding: 10px;
  background-color: #eee;
}

#products .products p b {
  font-weight: 700;
}

#products .products p span {
  color: #7732c3; 
}

#products .products .modal-header {
  border-bottom: none;
}

#products .products #modalCarousel {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#products .products .modal-content {
  background-color: #17141f;
  border-radius: 0px;
}

#products .products .close {
  color: white;
  opacity: 1;
}

#products .products .close:hover,
#products .products .close:active, 
#products .products .close:focus {
  color: #7732c3;
  transition: .7s;
  opacity: 1;
  text-shadow: none;
}

#products .products #share ul li > a {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
}

#products .products #product-name span.brand {
  color: #7732c3;
}

#products .products #modal {
  font-family: 'Poiret One', sans-serif;
  color: white;
}

#products .products #modal .fa.fa-cart-plus,
#products .products #modal .fa.fa-plus-circle,
#products .products #modal .fa.fa-credit-card-alt,
#products .products #modal .fa.fa-share-alt {
  color: #a22d59; 
}

#products .products #modal h2,h3 {
  font-family: 'Satisfy', sans-serif;
}

#products .products #modal .carousel-control .glyphicon-chevron-right, 
#products .products #modal .carousel-control .glyphicon-chevron-left {
  color: #7732c3;
}

#products .products #modal p a.btn-modal-contact {
  background-color: #6ad06c;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  border-color: white;
}

#products .products #modal p a.btn-modal-contact:hover, 
#products .products #modal p a.btn-modal-contact:active,
#products .products #modal p a.btn-modal-contact:focus {
  background-color: #60bd62;
}

#news {
  margin-top: 10em;
}

#news .news a {
  color: #1b1b1b;
  text-decoration: none;
}

#news .news p {
  margin-top: 1em;
  text-align: center;
  line-height: 1.5em;
}

#news .news p b {
  font-weight: 700;
  color: #6ad06c;
}

#news .news p span {
  color: #666; 
}

#news .news p span:nth-of-type(2) {
  font-size: 1.2em;  
  font-weight: 600;
  color: #1e1e1e;
}

#recommended {
  margin-top: 10em;
}

#recommended .carousel {
  box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.5);
  z-index: 100;
}

#recommended .carousel .carousel-control .glyphicon-chevron-left, 
#recommended .carousel .carousel-control .glyphicon-chevron-right {
 color: #7732c3;
}

#recommended .carousel .carousel-indicators .active {
  background-color: #7732c3;
}

#brands {
  margin-top: 10em;
  background: linear-gradient(141deg, #a52f5b 0%, #b64e6e 51%, #a22d59 75%);
  padding: 2em 0;
}

#rrss {
  padding: 3em 0;
}

#rrss p {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
}

#rrss .container .row .redes-sociales ul {
  margin-top: 1.5em;
}

#rrss .container .row .redes-sociales ul li > a {
  border: 1px solid #1E1E1E;
  padding: 5px;
  border-radius: 50%;
  color: #1E1E1E;
  font-size: 25px;
}

#rrss .container .row .redes-sociales ul li.twitter > a:hover {
  background-color: #7732c3;
  border: none;
  color: white;
  transition: .7s;
}

#rrss .container .row .redes-sociales ul li.facebook > a:hover {
  background-color: #7732c3;
  border: none;
  color: white;
  transition: .7s;
}

#rrss .container .row .redes-sociales ul li.youtube > a:hover {
  background-color: #7732c3;
  border: none;
  color: white;
  transition: .7s;
}

#rrss .container .row .redes-sociales ul li.instagram > a:hover {
  background-color: #7732c3;
  border: none;
  color: white;
  transition: .7s;
}

/*** QUIENES SOMOS ***/
.site-header-about-us {
  background-image: url(../images/bg-about-us.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: left;
  color: white;
  font-family: 'Poiret One', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
}
@media (max-width: 480px) {
  .site-header-about-us {
    min-height: 230px;
  }
}

.site-header-about-us h1 {
  font-size: 4em;
  display: inline-block;
  border-bottom: 1px solid #b23068;
}
@media (max-width: 480px) {
  .site-header-about-us h1 {
    font-size: 3.2em;
  }
}

.site-header-about-us p {
  padding-right: 30%;
  font-size: 2em;
}
@media (max-width: 480px) {
  .site-header-about-us p {
    font-size: 1.2em; 
  }
}

.site-header-about-us .header-home-content {
  margin-top: 14.9em;
  margin-bottom: 30px;
}
@media (max-width:480px) {
  .site-header-about-us .header-home-content {
    margin-top: 0em;
  }
}

#low-text-about-us {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  background-color: #635972;
  padding: 2em 0;
}

#store-gallery {
  padding: 4em 0;
  text-align: center;
}

#store-gallery .store-gallery .carousel {
  margin-top: 3em;
}

#store-gallery .store-gallery .carousel {
  box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.5);
  z-index: 100;
}

#store-gallery .store-gallery .carousel .carousel-control .glyphicon-chevron-left, 
#store-gallery .store-gallery .carousel .carousel-control .glyphicon-chevron-right {
 color: #7732c3;
}

#store-gallery .store-gallery .carousel .carousel-indicators .active {
  background-color: #7732c3;
}

#store-description {
  color: #585f69;
  text-align: center;
  background-image: url(../images/about/bg-store-description.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#store-description .store-description h1 {  
  font-family: 'Cinzel', sans-serif;
}

#store-description .store-description span.outstanding {  
  color: #b23068;
}

#store-description .store-description-2 {  
  margin-top: 4em;
}

#store-description .store-description-2 h2 {  
  margin-top: 0em;
}

#store-description .overlay {  
  padding: 4em 0;
  background: rgba(255,255,255,0.85);
}

/*** SERVICIOS ***/
.site-header-services {
  background-image: url(../images/bg-services.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: left;
  color: white;
  font-family: 'Poiret One', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
}
@media (max-width: 480px) {
  .site-header-services {
    min-height: 230px;
  }
}


.site-header-services h1 {
  font-size: 4em;
  display: inline-block;
  border-bottom: 1px solid #b23068;
}
@media (max-width: 480px) {
  .site-header-services h1 {
    font-size: 3.2em;
  }
}

.site-header-services p {
  padding-right: 30%;
  font-size: 2em;
}
@media (max-width: 480px) {
  .site-header-services p {
    font-size: 1.2em; 
  }
}

.site-header-services .header-home-content {
  margin-top: 14.9em;
  margin-bottom: 30px;
}
@media (max-width:480px) {
  .site-header-services .header-home-content {
    margin-top:0em;
  }
}

#low-text-services {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  background-color: #a55573;
  padding: 2em 0;
}

#content-service {
  color: white;
  text-align: center;
}

#content-service .content-service .service-1 {
 color: #1e1e1e;
  padding: 6em 0;
}

#content-service .content-service .service-1:hover,
#content-service .content-service .service-1:focus,
#content-service .content-service .service-1:active {
  background-color: #635972;
  color: white;
  transition: .8s;
}

#content-service .content-service .service-1:hover .fa.fa-heartbeat,
#content-service .content-service .service-1:focus .fa.fa-heartbeat,
#content-service .content-service .service-1:active .fa.fa-heartbeat {
  color: white;
  transition: .8s;
}

#content-service .content-service .service-2 {
  color: #1e1e1e;
  padding: 6em 0;
}

#content-service .content-service .service-2:hover,
#content-service .content-service .service-2:focus,
#content-service .content-service .service-2:active {
  background-color: #635972;
  color: white;
  transition: .8s;
}

#content-service .content-service .service-2:hover .fa.fa-handshake-o,
#content-service .content-service .service-2:focus .fa.fa-handshake-o,
#content-service .content-service .service-2:active .fa.fa-handshake-o {
  color: white;
  transition: .8s;
}

#content-service .content-service .service-3 {
  color: #1e1e1e; 
  padding: 6em 0;
}

#content-service .content-service .service-3:hover,
#content-service .content-service .service-3:focus,
#content-service .content-service .service-3:active {
  background-color: #635972;
  color: white;
  transition: .8s;
}

#content-service .content-service .service-3:hover .fa.fa-smile-o,
#content-service .content-service .service-3:focus .fa.fa-smile-o,
#content-service .content-service .service-3:active .fa.fa-smile-o {
  color: white;
  transition: .8s;
}

#stats {
  color: white;
  text-align: center;
  background-image: url(../images/about/bg-stats.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#stats .overlay {  
  padding: 10em 0;
  background: rgba(0,0,0, 0.5);
}

@media (max-width: 768px) {
  #stats .stats .sm-margin-bottom-50 {
    margin-bottom: 50px;
  }
}

#stats .stats .features {
  width: 130px;
  height: 130px;
  padding: 25px;
  position: relative;
  text-align: center;
  display: inline-block;
  border-radius: 50% !important;
  background: rgba(255,255,255,0.2);
}

#stats .stats .features:after {
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  content: " ";
  border-radius: 50%;
  position: absolute;
  border: 1px solid #fff;
}

#stats .stats .features span {
  color: #fff;
  display: inline-block;
  font-weight: 200;
}

#stats .stats span.percent {
  font-size: 30px;
}

#stats .stats .features span.counter {
  font-size: 30px;
}

#stats .stats .features span.features-info {
  text-transform: uppercase;
}

@media (max-width: 550px) {
  #stats .stats .features {
    width: 110px;
    height: 110px;
    padding: 22px;
  }

  #stats .stats .features:after {
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
  }

  #stats .stats .features span.counter {
    font-size: 20px;
  }

  #stats .stats span.percent {
    font-size: 20px;
  }

  #stats .stats .features span.features-info {
    font-size: 11px;
  }
}

/*** PRODUCTOS ***/
.site-header-products {
  background-image: url(../images/bg-products.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: left;
  color: white;
  font-family: 'Poiret One', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
}
@media (max-width: 480px) {
  .site-header-products {
    min-height: 230px;
  }
}

.site-header-products h1 {
  font-size: 4em;
  display: inline-block;
  border-bottom: 1px solid #b23068;
}
@media (max-width: 480px) {
  .site-header-products h1 {
    font-size: 3.2em;
  }
}

.site-header-products p {
  padding-right: 30%;
  font-size: 2em;
}
@media (max-width: 480px) {
  .site-header-products p {
    font-size: 1.2em; 
  }
}

.site-header-products .header-home-content {
  margin-top: 14.9em;
  margin-bottom: 30px;
}
@media (max-width:480px) {
  .site-header-products .header-home-content {
    margin-top: 0em;
  }
}

#low-text-products {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  background-color: #6aa16b;
  padding: 2em 0;
}

#catalog {
  margin-top: 10em;
  margin-bottom: 10em;
}

#catalog .catalog a.foto {
 color: #1b1b1b;
 text-decoration: none;
}

#catalog .catalog .caption p {
  margin-top: 3em;
  text-align: center;
  line-height: 1.5em;
  padding: 10px;
  background-color: #eee;
}

#catalog .catalog p b {
  font-weight: 700;
}

#catalog .catalog p span {
  color: #7732c3; 
}

#catalog .catalog .modal-header {
  border-bottom: none;
}

#catalog .catalog #modalCarousel {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#catalog .catalog .modal-content {
  background-color: #17141f;
  border-radius: 0px;
}

#catalog .catalog .close {
  color: white;
  opacity: 1;
}

#catalog .catalog .close:hover,
#catalog .catalog .close:active, 
#catalog .catalog .close:focus {
  color: #7732c3;
  transition: .7s;
  opacity: 1;
  text-shadow: none;
}

#catalog .catalog #share ul li > a {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
}

#catalog .catalog #product-name span.brand {
  color: #7732c3;
}

#catalog .catalog #modal {
  font-family: 'Poiret One', sans-serif;
  color: white;
}

#catalog .catalog #modal .fa.fa-cart-plus,
#catalog .catalog #modal .fa.fa-plus-circle,
#catalog .catalog #modal .fa.fa-credit-card-alt,
#catalog .catalog #modal .fa.fa-share-alt {
  color: #a22d59; 
}

#catalog .catalog #modal h2,h3 {
  font-family: 'Satisfy', sans-serif;
}

#catalog .catalog #modal .carousel-control .glyphicon-chevron-right, 
#catalog .catalog #modal .carousel-control .glyphicon-chevron-left {
  color: #7732c3;
}

#catalog .catalog #modal p a.btn-modal-contact {
  background-color: #6ad06c;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  border-color: white;
}

#catalog .catalog #modal p a.btn-modal-contact:hover, 
#catalog .catalog #modal p a.btn-modal-contact:active,
#catalog .catalog #modal p a.btn-modal-contact:focus {
  background-color: #60bd62;
}

/*** CONTACT ***/
.site-header-contact {
  background-image: url(../images/bg-contact.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: left;
  color: white;
  font-family: 'Poiret One', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
}
@media (max-width: 480px) {
  .site-header-contact {
    min-height: 230px;
  }
}

.site-header-contact h1 {
  font-size: 4em;
  display: inline-block;
  border-bottom: 1px solid #b23068;
}
@media (max-width: 480px) {
  .site-header-contact h1 {
    font-size: 3.2em;
  }
}

.site-header-contact p {
  padding-right: 30%;
  font-size: 2em;
}
@media (max-width: 480px) {
  .site-header-contact p {
    font-size: 1.2em; 
  }
}

.site-header-contact .header-home-content {
  margin-top: 14.9em;
  margin-bottom: 30px;
}
@media (max-width:480px) {
  .site-header-contact .header-home-content {
    margin-top: 0em;
  }
}

#low-text-contact {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  background-color: #70635B;
  padding: 2em 0;
}

#contact-info {
  font-family: 'Poiret One', sans-serif;
  color: white;
  text-align: center;
  background-image: url(../images/about/bg-contact.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact-info .overlay {  
  padding: 10em 0;
  background: rgba(0,0,0, 0.7);
}

#contact-info .contact-info h1 {
  text-shadow: 2px 2px 4px #000000;
  font-size: 4em;
  margin-bottom: .5em;
}

#contact-info .contact-info h2 {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 3em;
}

#contact-info .contact-info p {
  font-size: 22px;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 2em;
  font-weight: 600;
}

#contact-info .contact-info a.info {
  color: white;
  text-decoration: none;
}

#contact-info .contact-info .caption p {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5em;
  color: #999999;
}

#contact-info .contact-info .caption {
  padding: 4em;
  background: rgba(0,0,0, 0.6);
  border-radius: 6px;
}
@media (max-width: 768px) {
  #contact-info .contact-info .caption {
    margin-bottom: 2em;
  }
}

#contact-info .contact-info .caption .fa {
  color: #efe661;
}

/*** FOOTER ***/

.site-footer {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  background-color: white;
  padding: 30px 0;
  font-size: .9em;
  border-top: 1px solid #ccc;
  color: #1e1e1e;
}

.site-footer h4 {
  font-weight: 600;
}

.site-footer .container .row ul {
  text-align: center;
  line-height: 2.3em;
  padding: 0;
  list-style-type: none;
  font-size: 13px;
}
.site-footer .container .row ul li {
  list-style: none;
}

.site-footer .container .row ul li a {
  color: #1e1e1e;
}

.site-footer .container .row ul li a:hover,
.site-footer .container .row ul li a:focus,
.site-footer .container .row ul li a:active {
  text-decoration: none;
  color: #b23068;
}

@media screen and (max-width: 768px) {
  .site-footer .container .row .copy-right {
    margin-top: 2em;
  }
}
.site-footer .container .row .copy-right img.desarrollador {
  height: 40px;
}
.site-header .lema-xs {
  display: none;
}



