body {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 16px;
  color: #1e1e1e;
}

h2,h3 {
  font-family: "Cinzel", sans-serif;
}

.rebrand-heading {
  position: relative;
  font-family: "Cinzel", sans-serif;
  font-size: 36px;
  margin-bottom: 1em;
}

.rebrand-heading:before {
  content: '';
  position: relative;
  top: -10px;
  width: 100px;
  height: 2px;
  background-color: #b23068;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/*** NAVBAR ***/
.navbar-default {
  background: transparent;
  border-color: transparent;
}
@media (max-width: 480px) {
  .navbar-default {
    background: rgba(30,30,30,0.6);
  }
}

.navbar-default  .navbar-nav > li > a {
  font-family: 'Poiret One', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: white;
}

.navbar-default  .navbar-nav > li > a:hover,
.navbar-default  .navbar-nav > li > a:focus,
.navbar-default  .navbar-nav > li > a:active {
  color: gold;
  transition: .8s;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  font-family: 'Satisfy', sans-serif;
  font-size: 1.8em;
  color: white; 
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:active {
  color: white; 
}

.navbar-default .navbar-brand span {
  color: #6ad06c;
}

.navbar-default .navbar-toggle {
  color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background-color: #b23068;
}

.affix {
  background: rgba(30,30,30,0.6);
  border-color: transparent;
  transition: .3s;
}

/*** HEADER ***/
.site-header-inicio {
  min-height: 100vh;
  font-family: 'Poiret One', sans-serif;
  font-weight: bolder;
  background-image: url(../images/bg-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.site-header-inicio .header-home-content {
  padding-top: 350px;
  padding-bottom: 350px;
  text-align: center;
}
@media (max-width: 768px){
  .site-header-inicio .header-home-content {
    padding-top: 300px;
    padding-bottom: 300px;
  
  }
}
@media (max-width: 480px){
  .site-header-inicio .header-home-content {
    padding-top: 100px;
    padding-bottom: 50px;
  
  }
}


.site-header-inicio .header-home-content p {
  font-size: 2em;
}

.site-header-inicio .header-home-content h1 {
  font-size: 4em;
}

.site-header-inicio .header-home-content p a.btn.btn-cta {
  color: white;
  background-color: #980198;
  padding: 10px 30px;
  font-size: 1em;
  border-radius: 0px;
  border-color: #980198;
  margin-top: 1em;
}

.site-header-inicio .header-home-content p a.btn.btn-cta:hover,
.site-header-inicio .header-home-content p a.btn.btn-cta:focus,
.site-header-inicio .header-home-content p a.btn.btn-cta:active {
  background-color: purple;
  border-color: purple;
}

/*** HOME ***/
#about-us {
  background: linear-gradient(141deg, #6c4677 0%, #827795 51%, #5e4f74 75%);
  border-bottom: 5px solid #6ad06c;
  padding: 2em 0;
}

#about-us h1 {
  font-family: 'Satisfy', sans-serif;
  color: #fff;
}

#about-us p {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.2em;
  color: #fff;
}

#about-us small {
  font-size: 1em;
  color: #fff;
}

#about-us blockquote {
  border: none;
}

#about-us blockquote p.cita {
 font-family: 'Satisfy', sans-serif;
}

#about-us blockquote .small:before, 
blockquote footer:before, 
blockquote small:before {
  content: none;
}

#about-us .about-us #cita {
  margin-top: 6em;
}
@media screen and (max-width: 768px) {
  #about-us .about-us #cita { 
    margin-top: 2em;
  }
}

#about-us .about-us #cita img {
  box-shadow: -8px -4px 13px 0px rgba(50, 50, 50, 0.75);
}
@media screen and (max-width: 768px) {
  #about-us .about-us #cita img { 
    margin: auto;
    display: block;
  }
}

#store-description {
  color: #585f69;
  text-align: center;
  background-image: url(../images/about/bg-store-description.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#store-description .store-description h1 {  
  font-family: 'Cinzel', sans-serif;
}

#store-description .store-description span.outstanding {  
  color: #b23068;
}

#store-description .store-description-2 {  
  margin-top: 4em;
}

#store-description .store-description-2 h2 {  
  margin-top: 0em;
}

#store-description .overlay {  
  padding: 4em 0;
  background: rgba(255,255,255,0.85);
}

#brands {
  background: linear-gradient(141deg, #a52f5b 0%, #b64e6e 51%, #a22d59 75%);
  padding: 2em 0;
}

#contact-info {
  font-family: 'Poiret One', sans-serif;
  color: white;
  text-align: center;
  background-image: url(../images/about/bg-contact.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact-info .overlay {  
  padding: 10em 0;
  background: rgba(0,0,0, 0.7);
}

#contact-info .contact-info h1 {
  text-shadow: 2px 2px 4px #000000;
  font-size: 3em;
  margin-bottom: .5em;
}

#contact-info .contact-info h2 {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 2em;
}

#contact-info .contact-info p {
  font-size: 22px;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 2em;
  font-weight: 600;
}

#contact-info .contact-info a.info {
  color: white;
  text-decoration: none;
}

#contact-info .contact-info .caption p {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5em;
  color: #999999;
}

#contact-info .contact-info .caption {
  padding: 4em;
  background: rgba(0,0,0, 0.6);
  border-radius: 6px;
}
@media (max-width: 768px) {
  #contact-info .contact-info .caption {
    margin-bottom: 2em;
  }
}

#contact-info .contact-info .caption .fa {
  color: #efe661;
}

#map .map .mapa {
  padding-bottom: 0em;
}

#map .embed-responsive {
  height: 20em;
}
/*
#rrss {
  padding: 3em 0;
}

#rrss p {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
}

#rrss .container .row .redes-sociales ul {
  margin-top: 1.5em;
}

#rrss .container .row .redes-sociales ul li > a {
  border: 1px solid #1E1E1E;
  padding: 5px;
  border-radius: 50%;
  color: #1E1E1E;
  font-size: 25px;
}

#rrss .container .row .redes-sociales ul li.twitter > a:hover {
  background-color: #7732c3;
  border: solid 1px #7732c3;
  color: white;
  transition: .7s;
}

#rrss .container .row .redes-sociales ul li.facebook > a:hover {
  background-color: #7732c3;
  border: solid 1px #7732c3;
  color: white;
  transition: .7s;
}

#rrss .container .row .redes-sociales ul li.youtube > a:hover {
  background-color: #7732c3;
  border: solid 1px #7732c3;
  color: white;
  transition: .7s;
}

#rrss .container .row .redes-sociales ul li.instagram > a:hover {
  background-color: #7732c3;
  border: solid 1px #7732c3;
  color: white;
  transition: .7s;
}*/


/*** QUIENES SOMOS ***/

#low-text-about-us {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  background-color: #635972;
  padding: 2em 0;
}

/*** SERVICIOS ***/

#low-text-services {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  background-color: #a55573;
  padding: 2em 0;
}

/*** PRODUCTOS ***/
.site-header-products {
  background-image: url(../images/bg-products.jpg);
  min-height: 300px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: left;
  color: white;
  font-family: 'Poiret One', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
}
@media (max-width: 480px) {
  .site-header-products {
    min-height: 230px;
  }
}

.site-header-products h1 {
  font-size: 4em;
  display: inline-block;
  border-bottom: 1px solid #b23068;
}
@media (max-width: 480px) {
  .site-header-products h1 {
    font-size: 3.2em;
  }
}

.site-header-products p {
  padding-right: 30%;
  font-size: 2em;
}
@media (max-width: 480px) {
  .site-header-products p {
    font-size: 1.2em; 
  }
}

.site-header-products .header-home-content {
  margin-top: 14.9em;
  margin-bottom: 30px;
}
@media (max-width:480px) {
  .site-header-products .header-home-content {
    margin-top: 3em;
  }
}

#low-text-products {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  background-color: #6aa16b;
  padding: 2em 0;
}

#catalog {
  margin-top: 5em;
  margin-bottom: 2em;
}

#catalog .catalog a.foto {
 color: #1b1b1b;
 text-decoration: none;
 margin-bottom: 2.2em;
}

#catalog .catalog .caption p {
  margin-top: 1em;
  text-align: center;
  line-height: 1.5em;
  padding: 10px;
  background-color: #eee;
}

#catalog .catalog p b {
  font-weight: 700;
}

#catalog .catalog p span {
  color: #7732c3; 
}

#catalog .catalog .modal-header {
  border-bottom: none;
}

#catalog .catalog #modalCarousel {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
@media (max-width: 768px) {
  #catalog .catalog #modalCarousel {
    margin-top: 0em;
  } 
}

#catalog .catalog .modal-content {
  background-color: #17141f;
  border-radius: 0px;
}

#catalog .catalog .close {
  color: white;
  opacity: 1;
}

#catalog .catalog .close:hover,
#catalog .catalog .close:active, 
#catalog .catalog .close:focus {
  color: #7732c3;
  transition: .7s;
  opacity: 1;
  text-shadow: none;
}

#catalog .catalog #product-name span.brand {
  color: #7732c3;
}

#catalog .catalog #modal {
  font-family: 'Poiret One', sans-serif;
  color: white;
}

#catalog .catalog #modal .fa.fa-cart-plus,
#catalog .catalog #modal .fa.fa-plus-circle,
#catalog .catalog #modal .fa.fa-credit-card-alt,
#catalog .catalog #modal .fa.fa-share-alt {
  color: #a22d59; 
}

#catalog .catalog #modal h2,h3 {
  font-family: 'Poiret One', sans-serif;
}

#catalog .catalog #modal .carousel-control .glyphicon-chevron-right, 
#catalog .catalog #modal .carousel-control .glyphicon-chevron-left {
  color: #7732c3;
}

#catalog .catalog #modal p a.btn-modal-contact {
  background-color: #6ad06c;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  border-color: white;
}

#catalog .catalog #modal p a.btn-modal-contact:hover, 
#catalog .catalog #modal p a.btn-modal-contact:active,
#catalog .catalog #modal p a.btn-modal-contact:focus {
  background-color: #60bd62;
}

#recommended {
  margin-bottom: 5em;
}

#recommended .carousel {
  box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.5);
  z-index: 100;
}

#recommended .carousel .carousel-control .glyphicon-chevron-left, 
#recommended .carousel .carousel-control .glyphicon-chevron-right {
 color: #7732c3;
}

#recommended .carousel .carousel-indicators .active {
  background-color: #7732c3;
}

/*** CONTACT ***/

#low-text-contact {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  background-color: #70635B;
  padding: 2em 0;
}

/*** FOOTER ***/

.site-footer {
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  background-color: white;
  padding: 80px 0 50px;
  font-size: .9em;
  border-top: 1px solid #ccc;
  color: #1e1e1e;
}

.site-footer h4 {
  font-weight: 600;
}

.site-footer .container .row ul {
  text-align: center;
  line-height: 2.3em;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}
.site-footer .container .row ul li {
  list-style: none;
}

.site-footer .container .row ul li a {
  color: #1e1e1e;
}

.site-footer .container .row ul li a:hover,
.site-footer .container .row ul li a:focus,
.site-footer .container .row ul li a:active {
  text-decoration: none;
  color: #b23068;
}

@media screen and (max-width: 768px) {
  .site-footer .container .row .copy-right {
    margin-top: 2em;
  }
}
.site-footer .container .row .copy-right img.desarrollador {
  height: 40px;
}
.site-header .lema-xs {
  display: none;
}



