{% block brand %}
    <section id="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="brands">
                        {% for brand in brands %}
                        <div>
                            <img class="img-responsive" src="{{ vich_uploader_asset(brand, 'imagefile', 'Kore\\AdminBundle\\Entity\\Brand')|imagine_filter('brand_medium') }}" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>  
{% endblock %}