{% block contentservice %}
    <section id="content-service">
        <div class="container-fluid">
            <div class="row content-service">
                <div class="col-md-4 service-1 wow fadeInUp">
                    <i class="fa fa-heartbeat fa-5x" aria-hidden="true"></i>
                    <h1>
                        Lorem Ipsum
                    </h1>
                    <p>
                        Nam non lectus sollicitudin, accumsan odio in,<br> 
                        placerat turpis. Nullam vel ante vitae sapien <br>
                        viverra faucibus. Mauris eu mi eu leo pretium viverra. 
                    </p>
                </div>
                <div class="col-md-4 service-2 wow fadeInUp">
                    <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
                    <h1>
                        Lorem Ipsum
                    </h1>
                    <p>
                        Nam non lectus sollicitudin, accumsan odio in,<br> 
                        placerat turpis. Nullam vel ante vitae sapien <br>
                        viverra faucibus. Mauris eu mi eu leo pretium viverra. 
                    </p>
                </div>
                <div class="col-md-4  service-3 wow fadeInUp">
                    <i class="fa fa-smile-o fa-5x" aria-hidden="true"></i>
                    <h1>
                        Lorem Ipsum
                    </h1>
                    <p>
                        Nam non lectus sollicitudin, accumsan odio in,<br> 
                        placerat turpis. Nullam vel ante vitae sapien <br>
                        viverra faucibus. Mauris eu mi eu leo pretium viverra. 
                    </p>
                </div>   
            </div>
        </div>
    </section> 
{% endblock %}