{% block contact %}
    <section id="contact">
        <div class="overlay">
            <div class="container">
                <div class="row contact">
                    <h1>
                        Acércate a Nosotros Sin Importar el Medio<br>
                        Para Sentirte Bella y con Estilo
                    </h1>
                    <p>
                        No pierda más tiempo, ven para agendar una hora o<br> 
                        adquirir alguno de nuestros fabulosos productos<br> 
                        de belleza que tenemos para ti. 
                    </p>
                    <div class="col-md-4">
                        <a class="info" href="https://goo.gl/maps/CU4r3Esjgak" target="_blank">
                            <div class="caption">
                                <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                                <h2>Visita la Tienda</h2>
                                <p>
                                    Vicuña Mackena #189,<br> La Ligua.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="info" href="">
                            <div class="caption">
                                <i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i>
                                <h2>Llama o Inbox</h2>
                                <p>
                                    Contáctanos<br>
                                    (+56 9) 90382433<br>
                                    (+56 9) 52986143
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="info" href="">
                            <div class="caption">
                                <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                                    <h2>Envía un Mail</h2>
                                    <p>
                                        Hablanos, estaremos atentas
                                        barbarithaaa@hotmail.es
                                    </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="google-map">
        <div class="container-fluid">
            <div class="row google-map">
                <div id="map"></div>
            </div>
        </div>
    </section>
{% endblock %}