{% block footer %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <p><strong>Belleza Estilo 2017</strong></p>
                        <p>La Ligua, Chile</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}