{% block news %}
    <section id="news">
        <div class="container">
            <div class="row news">
                <div class="rebrand-heading text-center">NOVEDADES</div>
                <a href="images/novedades/novedad-1.jpg" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 foto">
                    <img class="img-responsive center-block" src="images/novedades/novedad-1.jpg">
                    <div class="caption">
                        <p>
                            <span> 
                                CREMAS PARA EL CABELLO
                            </span>
                            <br>
                            <span>
                                COMO CUIDAR TU CABELLO
                            </span> 
                            <br>
                            <b>¡Comprar ahora!</b>
                        </p>
                    </div>
                </a>    
                <a href="images/novedades/novedad-2.jpg" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 foto">
                    <img class="img-responsive center-block" src="images/novedades/novedad-2.jpg">
                    <div class="caption">
                        <p>
                            <span> 
                                CONSEJO EXPERTO
                            </span>
                            <br>
                            <span>
                                COMO MANTENER TU CUTIS LIMPIO
                            </span> 
                            <br>
                            <b>>> Leer más</b>
                        </p>
                    </div>
                </a>    
            </div>
        </div>         
    </section>
{% endblock %}