{% block rrss %}
    <section id="rrss">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="rrss">
                        <div class="redes-sociales">
                            <p class="text-center">
                                SIGUENOS
                            </p>
                            <p class="text-center">
                                Puedes encontrarnos en:
                            </p>
                            <ul class="list-inline text-center">
                                <li class="facebook"><a href="#" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
                                <li class="twitter"><a href="https://twitter.com/klan_el" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
                                <li class="youtube"><a href="#" target="_blank"><i class="fa fa-fw fa-youtube"></i></a></li>
                                <li class="instagram"><a href="#" target="_blank"><i class="fa fa-fw fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
{% endblock %}