{% block storegallery %}
    <section id="store-gallery">
        <div class="container">
            <div class="row store-gallery">
                <h1 class="rebrand-heading text-center">La tienda</h1>
                <p>
                    Mauris congue, risus at lobortis volutpat, justo neque rhoncus urna, in ultricies tortor elit at sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Mauris congue, risus at lobortis volutpat, justo neque rhoncus urna, in ultricies tortor elit at sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Mauris congue, risus at lobortis volutpat, justo neque rhoncus urna, in ultricies tortor elit at sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                </p>
                <div id="carousel" class="carousel slide" data-ride="carousel">  
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active"> <img src="{{ asset('images/about/carousel/slide-1.jpg') }}">
                            <div class="container">
                                <div class="carousel-caption">
                       
                                </div>
                            </div>
                        </div>
                        <div class="item"> <img src="{{ asset('images/about/carousel/slide-2.jpg') }}">
                            <div class="container">
                                <div class="carousel-caption">
                        
                                </div>
                            </div>
                        </div>
                        <div class="item"> <img src="{{ asset('images/about/carousel/slide-3.jpg') }}">
                            <div class="container">
                                <div class="carousel-caption">
                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
                </div>
            </div>
        </div>
    </section>
{% endblock %}